@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
.background {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -1;
  width: 100%;
}

.detailsContainer {
  display: grid;
  justify-items: center;
  background-color: #f2f2f2;
  border-radius: 1.5rem;
  box-shadow: 0 0 20px 8px #d0d0d0;
  padding: 1rem;
  font-family: 'Noto Serif', serif;
  justify-self: center;

}

.detailsStoreData {
  padding: .5rem;
  justify-self: left;
  color: black;
}

.detailsStoreName{
  font-size: 2.5rem;
}

.detailsStoreLocation{
  justify-self: left;
  font-size: 1.2rem;
  color: darkgray;
}

.gridcontent {
  display: grid;
  row-gap: .2rem;
  align-items: center;
  grid-template-columns: repeat(6, 1fr);
}

.gridcontent>span {
  border: 1px solid #CCDBDC;
  padding: 3px;
  font-size: 1rem;
  text-align: center;
  margin: 1rem;
}

.hideDetailsButton {
  color: palevioletred;
  font-size: 2em;
  margin: 1em;
  padding: 0.25em 1em;
  border: 2px solid palevioletred;
  border-radius: 3px;
  display: block;
  cursor: pointer;
  text-align: center;
}

.container>a {
  text-decoration: none;
}

.hideDetailsButton:hover {
  background-color: #80CED7;
}