@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

.background {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -1;
  width: 100%;
}

.detailsContainer {
  display: grid;
  justify-items: center;
  background-color: #f2f2f2;
  border-radius: 1.5rem;
  box-shadow: 0 0 20px 8px #d0d0d0;
  padding: 1rem;
  font-family: 'Noto Serif', serif;
  justify-self: center;

}

.detailsStoreData {
  display: grid;
  width: 95%;
  grid-template-columns: auto auto;
  align-items: baseline;
  padding: .5rem;
  color: black;
}

.detailsStoreName {
  justify-self: left;
  font-size: 2.5rem;
}

.detailsStoreLocation {
  justify-self: left;
  font-size: 1.2rem;
  color: darkgray;
}

.detailsTotalPriceContainer{
  justify-self: right;
  padding-right: 1rem;
}

.detailsTotalPriceTitle {
  font-size: 1rem;
  justify-self: right;
  color: darkgray;
}

.detailsTotalPriceValue{
  font-size: 2.5rem;
}

.gridcontent {
  display: grid;
  align-items: center;
  grid-gap: .8rem;
  grid-template-columns: repeat(6, 1fr);

}

.gridcontent>span {
  border: 1px solid #CCDBDC;
  padding: .05rem;
  font-size: 1rem;
  height: 2.5rem;
  justify-self: stretch;
  display: grid;
  justify-items: center;
  align-items: center;
}

.hideDetailsButton {
  width: 100%;
  margin-top: 1rem;
  padding: 1rem 2rem 1rem 2rem;
  border: none;
  background-color: #5456575e;
  color: #ffff;
  font-size: 1.2rem;
  border-radius: .5rem;
  outline: none;
  cursor: pointer;
}

.container>a {
  text-decoration: none;
}

.hideDetailsButton:hover {
  background-color: #80CED7;
}