.app {
  display: grid;
  grid-gap: .5rem;  
  min-height: 100%;
}

.appHeader{
  top: .5rem;
  position:sticky;
  
}

.appBody{
  display: grid;
  justify-items: center;
  min-height: 100%;
  object-fit: fill;
  padding: .5rem;
}