.product{
    background-color: #f2f2f2;
    border-radius: 5px;
    height: max-content;
}
.product > img {
    width: 5rem;
    height: 5rem;
    border-radius: 10px;
}
.AddToCartButton{
    width: 50%;
    height: 30px;
}