.productSearchContainer {
    display: grid;
    grid-template-columns: .8fr 5fr 1.2fr;
    grid-gap: .5rem;
    background-color: azure;
}

.categoryMenu {
    padding: .5rem;
    border-style: none solid none none;
    border-color: rgba(64, 221, 245, 0.132);
    background-color: aliceblue;
}

.productsAndSearchBar {
    display: grid;
    grid-gap: .5rem;
    padding: .5rem;
}

.searchMenu {
    display: grid;
    padding: .5rem;
    grid-gap: .5rem;
    grid-template-columns: repeat(4 , 1fr);
    grid-template-rows: minmax(3rem , 3rem) ;
}

/* @media only screen and (max-width: 600px) {
    .searchMenu {
        display: grid;
        padding: .5rem;
        grid-gap: .5rem;
        grid-template-columns: repeat(1 , 1fr);`
        grid-template-rows: minmax(3rem , 3rem) ;
    }
  } */

.searchInput {
    grid-column: 1 / span 3;
    background-color: lightgray;
    color: darkgray;
    font-size: large;
    padding-left: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.searchInput:hover{
    background-color: rgba(211, 211, 211, 0.841);
}

.searchButton {
    grid-column: 4;
    background-color: #4caf4fea;
    font-size: large;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.searchButton:hover{
    background-color: #4caf4fc8;
}

.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: .5rem; 
}

.cart {
    border-style: none none none solid;
    border-color: rgba(64, 221, 245, 0.132);
    background-color: aliceblue;
}