@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

.background {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -1;
    width: 100%;
    /* opacity: .7; */
}

.homeContainer {
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: 'Noto Serif', serif;
}

.title {
    grid-column: 1/2;
    color: #414341;
    font-size: 3rem;
}

.description {
    grid-column: 1/2;
    color: #6d716d;
    font-size: 1.1rem;
    padding: 1rem;
    text-indent: 2rem;
    text-align: justify;
}

.buttons {
    grid-column: 1/2;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}

.homeButton {

    width: 100%;
    color: #666866;
    background-color: rgba(128, 128, 128, 0.05);
    border-style: solid;
    border-color: #6d716d56;
    box-shadow: 1px 1px 5px .3px rgba(141, 141, 141, 0.3);
    border-radius: 20px;
    font-size: 1.5rem;
    padding: .8rem;

}

.homeButton:hover {
    background-color: rgba(128, 128, 128, 0.3);
    box-shadow: .5px .5px 5px 1px rgba(141, 141, 141, 0.2);
}