.containerProductsPage{
    display: flex;
    margin-top: 20px;
    width: 100%;
}
.categoryDiv{
    width: 10%;
    text-align: center;
}
.bodyDiv{
    width: 65%;
}
.cartDiv{
    width: 25%;
}
select option{
background-color: #82caff;
}
.searchInput{
    width: 90%;
    height: 30px;
    border-radius: 10px;
}
.bodyDiv > div{
    margin-top: 10px;
}
.searchButton{
  height: 35px;
  margin-left: 10px;
  border-radius: 10px;
  background-color: blue;
}

.products{
    display: grid;
    grid-template-columns:  repeat(3,1fr);
    gap: 10px;
}


