.Navbar {   
    background-color: rgba(0, 0, 0, 0.1);
    justify-content: center;
    display: grid;
    width: 100%;
    grid-template-columns: 5.5rem 3fr repeat(3 , 1fr);
    justify-items: center;
    align-items: center;
}

.navBarLogo{
    max-width: 3rem;
    padding-left: 1.5rem;
    justify-self: left;
}

.navBarLogo>img{
    max-width: 3rem;
}

.name{
    justify-self: left;
    font-style: italic;
    font-size: larger;
    font-weight:450 ;
    font-family: serif;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.562);
}

.link {
    color: rgb(255, 255, 255);
    font-weight: 450;
    font-size: larger;
    text-decoration: none;
}

.Navbar>a:hover{
    color: rgba(0, 0, 0, 0.26);
}