@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

.background {
    position: fixed;
    top: 0px;
    z-index: -1;
    width: 100%;
    opacity: .7;
}

.containerStores{
    width: 70%;
    display: grid;
    padding: .5rem;
    font-family: 'Noto Serif', serif;
}